/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Hover  */

a:hover {
    color: white;
}

a i:hover {
    color: white;
}

.second-box:hover {
    background-color: #1DB954;
    cursor: pointer;
}

.second-box:hover .white-circle {
    display: block;
}

.white-circle {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transform: translate(10px, -5px);
    display: none;
}

#upgrade-button button:hover {
    transform: scale(1.1);
}

.playbar-icon.play-comand:hover {
    transform: scale(1.1);
}

/* Header */

#upgrade-button button {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #07080f;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}

.head-page {
    width: calc(100% - 250px);
    position: fixed;
    right: 0;
    z-index: 10;
    height: 75px;
    padding: 20px 15px;
    text-align: right;
    background-color: black;
}


#spotify-logo img {
    color: white;
    width: 150px;
}

.header-container {
    height: 95px;
    width: 100%;
    position: relative;
    background-color: #07080f;

}
.lightgray-icon {
    padding-right: 5px;
    font-size: 1.3em;
    color: #9c9999;
}

#spotify-logo {
    /* background-color: black; */
    padding-bottom: 30px;
    /* width: 250px;
    height: 100%;
    display: inline-block; */
}

/* Main */

/* Main Navigator */

.main-container {
    height: calc(100vh - 95px);
}

.navigator {
    float: left;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #9c9999;
    min-width: 250px;
    height: 100%;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.text-decoration-none {
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    color: #9c9999;
}

.icon-text {
    display: inline-block;
}

.navigator ul li {
    list-style: none;
    line-height: 35px;
}

.page-comands img {
    filter: invert(0.1);
    width: 25px;
    vertical-align: middle;
}

.page-comands {
    padding-bottom: 20px;
}

.playlist-container h4 {
    padding-bottom: 15px;
    color: white;
}

.footer-installation {
    padding: 10px 0;
}

.footer-icon {
    font-size: 0.7em;
    padding-right: 5px;
}

.footer-installation img {
    width: 15px;
    vertical-align: middle;
}

.footer-installation .text-decoration-none {
    padding-left: 5px;
    
}

.footer-profile img {
    border-radius: 50%;
    background-color: gray;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.footer-profile {
    padding: 15px 0;
}

.footer-profile span {
    font-size: 0.8em;
    padding-left: 10px;
    color: white;
    font-weight: 600;
}


#button-playlist button {
    background-color: #9c9999;
    width: 35px;
    height: 35px;
}

#button-playlist .plus-playlist {
    font-size: 1.3em;
}

#button-playlist a {
    padding-left: 5px;
    font-weight: 600;
    text-decoration: none;
    color: #9c9999;
}

#button-playlist {
    padding-bottom: 10px;
}

#small-spotify-logo {
    display: none;
}

/* Main music container */

/* Header music container */
.music-container {
    float: left;
    background-color: #080810fa;
    width: calc(100% - 250px);
    height: calc(100vh - 95px);
    overflow-y: scroll;
}

.header-music-container {
    margin-top: 75px;
    text-align: center;
    padding: 20px 20px 0 20px;
}

.header-music-container li {
    display: inline-block;
    padding-right: 20px;
}

/* Playlist music container */

.playlist-music-container {
    padding: 20px;
}

.wrap-music-container h1 {
    font-size: 1.5em;
    color: white;
}

.wrap-music-container {
    padding-top: 20px;
}

.single-artist {
    width: 15%;
    text-align: center;
    color: white;
    margin: 0 15px 15px 0;
}

.single-artist h4 {
    font-size: 1.1em;
    padding: 10px 0;
}

.single-artist p {
    color: gray;
    font-size: 0.8em;
    font-weight: 600;
}

.artists-container {
    padding-top: 35px;
    display: flex;
    /* flex-wrap: wrap; */
}

.circle-img {
    border-radius: 50%;
}

/* Overlay play */

.container-img {
    position: relative;
    
}
  
.container-img img{
    display: block;
    width: 100%;
    height: auto;
}
  
.container-img .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
   
.container-img:hover .overlay {
    opacity: 1;
}

.play-icon {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay.circle-overlay {
    border-radius: 50%;
}

/* Fine codice Overlay */


#music-container-p {
    color: gray;
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 15px;
}



/* Footer */

.footer-container {
    padding: 10px;
    height: 95px;
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
}

.reproduced-music.clearfix {
    padding-top: 10px;
    float: left;
    margin-right: 30px;
}

.reproduced-music-img {
    float: left;
    width: 50px;
}

.reproduced-music-info {
    float: left;
    padding: 10px;
    line-height: 15px;
}

.reproduced-music-info h5 {
    color: white;
}

.reproduced-music-info span {
    font-size: 0.67em;
    color: #9c9999;
    font-weight: 600;
}

.reroduced-music-icon.clearfix {
    float: left;
    padding-top: 20px;
}

.footer-icon-container a {
    color: #9c9999;
    padding-right: 13px;
}

.footer-icon-container {
    padding: 10px;
}


.playbar-icon {
    vertical-align: middle;
    color: white;
    margin-right: 25px;
}

.left-right-comands{
    font-size: 1.5em;
}

.play-bar {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.play-comand {
    padding: 0 5px 0 5px;
    font-size: 2em;
}

.time-play-bar {
    color: white;
    display: inline-block;
}

.time-box {
    display: inline-block;
    width: 80%;
    height: 4px;
    background: #9c9999;
    vertical-align: middle;
    margin: 0 20px;
    border-radius: 5px;
}
.time-bar {
    width: 100%;
    text-align: center;
}

/* .footer-section {
    width: 50%;
} */

.footer-section-central {
    width: 40vw;
}

.footer-section-right {
    padding-top: 30px;
}

.volume-bar,
.footer-end-icon {
    float: left;

}

.footer-end-icon a,
.footer-end-volume a {
    color: white;
    padding: 10px;
}

.volume-bar {
    background-color: #9c9999;
    height: 4px;
    width: 100px;
    margin-top: 9px;
    border-radius: 5px;
}

.second-box {
    position: relative;
    background-color: white;
    height: 5px;
    width: 25%;
    border-radius: 5px;
}

/* Media Queries */

@media screen and (max-width: 930px) {
   
    .artists-container {
        padding-top: 35px;
        display: flex;
        flex-wrap: wrap;
    }

    .single-artist {
        width: 20%;
        text-align: center;
        color: white;
        margin: 0 15px 15px 0;
    }

}

@media screen and (max-width: 730px) {
   
    .artists-container {
        padding-top: 35px;
        display: flex;
        flex-wrap: wrap;
    }

    .single-artist {
        width: 40%;
        text-align: center;
        color: white;
        margin: 0 15px 15px 0;
    }

}

@media screen and (max-width: 630px) {
   
    .artists-container {
        padding-top: 35px;
        display: flex;
        flex-wrap: wrap;
    }

    #spotify-logo img {
        display: none;
    }

    #spotify-logo #small-spotify-logo {
        display: block;
        width: 25px;
    }

    .playlist-container {
        display: none;
    }

    .text-decoration-none {
        display: none;
    }

    hr {
        display: none;
    }

    .footer-profile span {
        display: none;
    }

    .single-artist {
        width: 40%;
        text-align: center;
        color: white;
        margin: 0 15px 15px 0;
    }

    .navigator {
        float: left;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        color: #9c9999;
        min-width: 50px;
        height: 100%;
        flex-direction: column;
        background-color: black;
        
    }

    .head-page {
        width: calc(100% - 65px);
        position: fixed;
        right: 0;
        z-index: 10;
        height: 75px;
        padding: 20px 15px;
        text-align: right;
        background-color: #06060c;
    }

    .music-container {
        float: left;
        background-color: #080810fa;
        width: calc(100% - 65px);
        height: calc(100vh - 95px);
        overflow-y: scroll;
    }

}